@import "mixins";

.main-container {
  height: 100vh;
  padding-top: 1rem;

  .row {
    height: 100%;

    .col-sidebar {
      max-width: 250px;
      max-height: 100%;
    }
  }
}

.rounded-light-button {
  background-color: $base_secondary;
  border-radius: 1.75rem;
  color: $font_primary;
  padding: 1rem;
  margin: 0.5rem;
  display: block;
  width: max-content;
  font-weight: lighter;
}

.rounded-light-button:hover{
  font-weight: bolder;
  text-decoration: none;
}

@import 'mixins';

.card-deck .card {
  background-color: $base_secondary;
  border-radius: 1rem;
  max-width: 200px;
  min-width: 200px;
  a {
    text-align: center;
    padding: 1rem;
  }
  img {
    margin: auto;
  }
  .card-title {
    text-align: center;
  }

}

.card:hover{
  background-color:  lighten($base_secondary, 5%);
}
a:hover{
  text-decoration: none;
}

.books-dashboard {
  background-color: $base_primary;
  border-radius: 1rem;
  padding: 2rem;
}
