
// Fonts

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');


$font_family: "Mali", cursive;

$font_family_branding: "Dancing Script", cursive;


// Color Definitions

$base_primary: #d32f2f;
$base_secondary: #9a0007;
$font_primary: #fbfbfb;
$button_primary: #f3f5fb;
$yellow: #FFE680;
$gray: #2c2c2d;

.background-primary{
  background-color: $base_primary;
}
.background-secondary{
  background-color: $base_secondary;
}
